/*
    Style for delete button
*/

.delete {
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}

.material-icons {
    color: red;
    border: 0px;
    background-color: white;
}
